dist
dist-newstyle
cabal-dev
.cabal-sandbox
cabal.sandbox.config
GLR_Base
GLR_Lib
GLR_Lib-ghc
GLR_Lib-ghc-debug
HappyTemplate
HappyTemplate-arrays
HappyTemplate-arrays-coerce
HappyTemplate-arrays-coerce-debug
HappyTemplate-arrays-debug
HappyTemplate-arrays-ghc
HappyTemplate-arrays-ghc-debug
HappyTemplate-coerce
HappyTemplate-ghc

.*.swp
.*.swo

#stack
.stack-work

# OSX
.DS_Store
