*/*.hi
*/*.o
*/*.hs
*/*.info
bio-eg/bio-eg
bio-eg/out.daVinci
bio-eg/out.1200
expr-eval/expr
expr-monad/expr
expr-monad/out.daVinci
expr-tree/expr
hidden-leftrec/expr
hidden-leftrec/out.daVinci
highly-ambiguous/expr
highly-ambiguous/out.daVinci
highly-ambiguous/out20
nlp/english
nlp/out.daVinci
packing/expr
packing/out.daVinci
